/*
CSS RESET
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

:root {
  --hellenic-blue: #0179b4;
  --army-yellow: #fde81a;
  --army-olive: #556b2f;
  --army-khaki: #bdb76b;
  --haf-blue:#008bd0;
  --navy-blue: #1b4279;
}
